@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-item {
    @apply items-center gap-2 pt-3 pl-24 text-xl font-semibold text-gray-500 capitalize;
  }
  .HoverEffect {
    @apply cursor-pointer hover:bg-slate-200 w-[45px] transition-all rounded-full  md:w-auto;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
